/* this is part of Vivaldi Essentials:
 * https://github.com/Tiamarth/Vivaldi-Essentials
 *
 * author: Tiamarth
 *
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 *
 */
/* credit for the below css goes to reddit user /u/d4th , i genuinely barely modified it */
#panels-container .fullheight {right: 0;}
#panels-container {
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 0;
    transition: width 0.2s;/* the speed at which the panel opens */
}
#panels-container:not(:focus-within):not(:hover) {
    position: initial;
    width: 10px !important;/* the width of the bar you have to hover to reveal the panel */
    transition: width 0.1s;/* the speed at which the panel hids */
}
#panels-container:after {display: none !important;}
.switcher {display: none !important;}
