/* this is part of Vivaldi Essentials:
 * https://github.com/Tiamarth/Vivaldi-Essentials
 *
 * author: Tiamarth
 *
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 *
 */
#panels-container {
    z-index: 1;
    transition: width 0.2s;/* the speed at which the panel opens */
}
#panels-container:not(:focus-within):not(:hover) {
    width: 10px !important;/* the width of the bar you have to hover to reveal the panel */
    transition: width 0.1s;/* the speed at which the panel hides */
}
#panels-container:after {display: none !important;}
.switcher {display: none !important;}
