/* this is part of Vivaldi Essentials:
 * https://github.com/Tiamarth/Vivaldi-Essentials
 * 
 * author: Tiamarth
 * 
 * - https://github.com/Tiamarth
 * - http://tiamarth.com/
 * 
 */
#titlebar {z-index: 1;}
#main {
    margin-top: -32px;
    pointer-events: none; /* allow clicking in the addressfield even though the element is behind this one */
    background: transparent !important;
}
#browser.fullscreen #main {margin-top: 0;}
.toolbar-addressbar {pointer-events: initial;}
.toolbar-addressbar.toolbar:after {display: none;}
/* in unmaximized windows */
#browser.normal #tabs-container {margin-right: 28%;}
#browser.normal .toolbar-addressbar {
    width: 28%;
    margin-left: 63%;
}
/* in maximized windows */
#browser.maximized #tabs-container {margin-right: 17%;}
#browser.maximized .toolbar-addressbar {
    width: 16%;
    margin-left: 78%;
}
.toolbar-extensions {display: none;} /* hide extension buttons since they cause unpredictable rescaling of the addressabar depending on how many buttons exist */
.inner {pointer-events: initial;} /* allow clicking in the page again after disallowing it in #main */
